# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python


# Virtual Environment
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo


# Environment variables
.env

# Model files (we'll commit these)
trained_model/*.h5

# Logs
*.log
